---
layout: ""
page_title: "Provider: oVirt-ng"
description: |-
The oVirt-ng provides the ability to interact with the oVirt Engine / RHV Manager API.
---

# oVirt-ng provider

The oVirt-ng provider interacts with the oVirt Engine / RHV Manager API.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}